
<div style="text-align:center">
  <h1>
    FILE PARSING AND VALIDATION ASSIGNMENT
  </h1>

  <div class="block">
      <label id="lbl">SELECT XML OR CSV FILE: </label>
      <input class='browse-btn' type='file' (change)="fileChanged($event)">
      <button class='button' (click)="uploadDocument()">PARSE & VALIDATE DATA</button>
  </div>

  <div class='info'>
    <span class='red-info'></span>
    <span>Indicates validation failed info records.</span>
    <span>
      <li class='reference-uniq-info'>All transaction references should be unique</li>
      <li>The end balance needs to be validated</li>
    </span>
  </div>
  <div class='record-table' *ngIf='parsedRecords && parsedRecords.length > 0'>
    <table>
      <tr>
        <th>Account Number</th>
        <th>Description</th>
        <th>End Balance</th>
        <th>Mutation</th>
        <th>Reference</th>
        <th>Start Balance</th>
      </tr>
      <tr *ngFor="let record of parsedRecords" class="record-row" [ngClass]="{'failed': record.failed}">
        <td>{{(isXmlFile) ? record.accountNumber : record.AccountNumber}}</td>
        <td>{{(isXmlFile) ? record.description : record.Description}}</td>
        <td>{{(isXmlFile) ? record.endBalance : record.End_Balance}}</td>
        <td>{{(isXmlFile) ? record.mutation : record.Mutation}}</td>
        <td>{{(isXmlFile) ? record.reference : record.Reference}}</td>
        <td>{{(isXmlFile) ? record.startBalance : record.Start_Balance}}</td>
      </tr>
    </table>
  </div>

</div>
