
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
}

.block {
  margin: 20px 0px;
}

.failed {
  background: red !important;
}

.red-info {
  background: red;
  padding: 0px 25px;
  margin: 15px;
}

#lbl {
  font-weight: bold;
}

.browse-btn {
  background-color: darkgray;
  padding: 15px 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.record-table {
  margin: 50px !important;
}

.reference-uniq-info {
  margin: 10px 0px 10px 34px;
}
